.ipynb_checkpoints 
Ass3/nerc_datasets/kaggle/ner.csv
Ass3/nerc_datasets/CONLL2003/valid.txt
Ass3/nerc_datasets/CONLL2003/train.txt
Ass3/nerc_datasets/CONLL2003/test.txt
Ass3/nerc_datasets/CONLL2003/README.MD
Ass3/nerc_datasets/kaggle/.DS_Store
Ass3/nerc_datasets/kaggle/ner_dataset.csv
Ass3/nerc_datasets/kaggle/ner_v2.csv
Ass3/GoogleNews-vectors-negative300.bin
Ass3/nerc_datasets/CONLL2003/README.MD
Ass3/nerc_datasets/CONLL2003/test.txt
Ass3/nerc_datasets/CONLL2003/train.txt
Ass3/nerc_datasets/CONLL2003/valid.txt
Ass3/nerc_datasets/kaggle/.DS_Store
Ass3/nerc_datasets/kaggle/ner.csv
Ass3/nerc_datasets/kaggle/ner_dataset.csv
Ass3/nerc_datasets/kaggle/ner_v2.csv
Ass3/GoogleNews-vectors-negative300.bin
